* {
    box-sizing: border-box;

}

@font-face {
    font-family: "Candara";
    src: url("https://fonts.adobe.com/fonts/candara") format("");
    font-family: "Inter";
    src: url("https://fonts.google.com/specimen/Inter") format("")
}

body {
    font-family: Candara;
    block-size: auto;
}

h1 {
    padding-top: 20%;
    color: #ffdeb3;
    text-align: center;
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
}

header:not(li) {
    background-image: url("./tools/55a40aa8-4767-400a-aba4-e8b1fa1dc192.png");
    width: 100%;
    display: block;
    flex-wrap: 1;
    margin: 0%;
    padding: 0%;
}

header img {
    font-display: flex;
    width: 100%;
    display: block;
    flex-wrap: 1;
    text-align: center;
    justify-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

body header nav ul li {
    width: 80%;
    height: 1.8em;
    padding: 2em;
    display: block;
    flex-wrap: 1;
    text-align: center;
    justify-items: center;
}


ul {
    display: block;
    text-align: center;
    justify-items: center;
    list-style-type: none;
    margin: 0;
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 7%;
}

nav li:first-child a {
    color: #ffbbaf;
    border: 2px solid #ffbbaf;
}

nav a {
    display: block;
    color: #ffdeb3;
    text-decoration: none;
    line-height: 2em;
    width: 100%;
    border: 2px solid #ffdeb3;
    text-align: center;
    border-radius: 20px;
    font-size: 1.6em;
    -webkit-box-shadow: 7px 7px 21px 0px #00415d;
    box-shadow: 7px 7px 21px 0px #00415d;
}

nav a:hover,
nav a:focus {
    color: #00415d;
    background-color: #ffdeb3;
    font-size: 1.6em;
    line-height: 2em;
    border-radius: 20px;
    outline: 2px outset #ffd39a;
    outline-offset: 0px;
    /*filter: brightness(110%);*/
    background: linear-gradient(to bottom, #ffe3c0 10%, #fbd8ab 85%, #fdd094 100%);
}

nav li:first-child a:hover,
nav li:first-child a:focus {
    color: #00415d;
    background-color: #ffbbaf;
    font-size: 1.6em;
    line-height: 2em;
    border-radius: 20px;
    outline: 2px outset #fcada0;
    outline-offset: 0px;
   /* filter: brightness(110%);*/
    background: linear-gradient(to bottom, #fdcbc3 10%, #FFBBAF 85%, #ffada0 100%);
}

main {
    display: block;
    text-align: justify;
    justify-items: center;
}

main img {
    display: block;
    justify-items: center;
    width: 100%;
}

h2,
p,
form {
    color: #00415d;
}

footer {
    background-image: url(./tools/40bc4302-dba7-4f6c-ac9f-31fde1245f19.png);
    display: block;
}

footer form li {}

footer form a {
    color: #ffbbaf;
    border: 2px solid #ffbbaf;
    text-align: center;
    border-radius: 15px;
    line-height: 1.8em;
    font-size: 1.2em;
    -webkit-box-shadow: 7px 7px 21px 0px #00415d;
    box-shadow: 7px 7px 21px 0px #00415d;
    justify-items: center;
    padding: 8px;
    margin-top: 10px;
}

footer form a:hover,
footer form a:focus {
    color: #d35941;
    background-color: #ffbbaf;
    border-radius: 15px;
    outline: 2px outset #fcada0;
    background: linear-gradient(to bottom, #fdcbc3 10%, #FFBBAF 100%, #ffada0 10%);
}