h2{ font-size: 1.6em;
  margin-top: 5%;
}

main img {
  width: 100%;              
  aspect-ratio: 16 / 9;     
  object-fit: cover;        
  display: grid;
  place-self: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

main .first,
main .second,
main .third {
  position: relative;
}

/* Texte superposé */
 main section h3 {
    position: absolute;
    padding-top: 1%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px #3e6176;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    border-radius: 5px;
    z-index: 2;
  }

table th:not(:first-child) {
  background-color: #6e98b1;
  color: #f8f2eb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

table tr:not(:first-child) {
  background-color: #e0eff3;
  color: #6e98b1;
}

table tr :first-child {
  background-color: #f8f2eb;
  color: #6e98b1;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
}

table {
  width: 100%;
  font-size: 1.2em;
  text-align: center;
}

table tr:first-child th:first-child {
  background-color: transparent;
}